! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------
*background:	#1A2026
*foreground:	#FFFFFF
*cursorColor:	#FFFFFF
*color0:	#242D35
*color1:	#FB6396
*color2:	#94CF95
*color3:	#F692B2
*color4:	#6EC1D6
*color5:	#CD84C8
*color6:	#7FE4D2
*color7:	#FFFFFF
*color8:	#526170
*color9:	#F92D72
*color10:	#6CCB6E
*color11:	#F26190
*color12:	#4CB9D6
*color13:	#C269BC
*color14:	#58D6BF
*color15:	#F4F5F2
! ------------------------------------------------------------------------------
! Font configuration
! ------------------------------------------------------------------------------

URxvt.font:				xft:DejaVuSansMono Nerd Font Mono:bold:size=11
! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

! font spacing
URxvt*letterSpace:		0
URxvt.lineSpace:		0

! general settings
URxvt*saveline:			15000
URxvt*termName:			rxvt-256color
URxvt*iso14755:			false
URxvt*urgentOnBell:		true

! appearance
URxvt.depth: 32
URxvt*scrollBar:		false
URxvt*scrollBar_right:	false
URxvt*internalBorder:	24
URxvt*externalBorder:	0
URxvt.geometry:			84x22


! perl extensions
URxvt.perl-ext-common:	default,clipboard,url-select,keyboard-select

! macros for clipboard and selection
URxvt.copyCommand:		xclip -i -selection clipboard
URxvt.pasteCommand:		xclip -o -selection clipboard
URxvt.keysym.M-c:		perl:clipboard:copy
URxvt.keysym.M-v:		perl:clipboard:paste
URxvt.keysym.M-C-v:		perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:	perl:keyboard-select:activate
URxvt.keysym.M-s:		perl:keyboard-select:search
URxvt.keysym.M-u:		perl:url-select:select_next
URxvt.urlLauncher:		firefox
URxvt.underlineURLs:	true
URxvt.urlButton:		1     

! scroll one line
URxvt.keysym.Shift-Up:		command:\033]720;1\007
URxvt.keysym.Shift-Down:	command:\033]721;1\007

! control arrow
URxvt.keysym.Control-Up:	\033[1;5A
URxvt.keysym.Control-Down:	\033[1;5B
URxvt.keysym.Control-Right:	\033[1;5C
URxvt.keysym.Control-Left:	\033[1;5D

! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #1A2026, #1A2026, #1A2026
rofi.color-normal: #1A2026, #d8dee9, #1A2026, #1A2026, #00ff2a
rofi.color-active: #1A2026, #b48ead, #1A2026, #1A2026, #93e5cc
rofi.color-urgent: #1A2026, #ebcb8b, #1A2026, #1A2026, #ebcb8b
rofi.modi: run,drun,window

! ------------------------------------------------------------------------------
! Dmenu configs
! ------------------------------------------------------------------------------

dmenu.selforeground:	    #1A2026
dmenu.background:	        #2e3440
dmenu.selbackground:	    #bf616a
dmenu.foreground:	        #1A2026

Xcursor.theme: Breeze-ContrastLH
Xcursor.size: 32
